#main{
    background-color:whitesmoke;
    width:80%;
    text-align:center;
    border-radius:20px;
}

p {
    font-size: 22px;
}

  
.btn:hover {
    background-position: right center; /* change the direction of the change here */
}
  
.btn {
    background-image: linear-gradient(to right, #a1d8fd 0%, #a1d8fd 51%, #a1d8fd 100%);
}